<div class="version fixed-bottom">
  v{{version}}
</div>

<div class="container mt-2">

  <div class="row">
    <div class="col-sm" style="margin: auto;">
      {{member.username}} / {{pharmProgram}}
    </div>

    <div class="col-sm pull-right  text-right">
      <!-- <button type="submit" class="btn btn-info btn-sm" style="margin-right:5px;" (click)="onStartBrowser()"
        *ngIf="memberPrivate" display="none" style="display: none;">
        백업관리
      </button> -->
      <button type="submit" style="margin-right:5px;" (click)="onRetryUpload()" style="background: transparent;border: transparent;">
        <img src="assets/images/backup_start.png" style="background: transparent;border:transparent;width: 70%;">
      </button>
      <!-- <button type="submit" class="btn btn-primary btn-sm" (click)="onLogout()">
        로그아웃
      </button> -->
    </div>
  </div>
</div>


<div class="container">

  <div>

    <div>
      <table class="table table-sm mt-3">
        <tbody>
          <tr>
            <td width="15%">백업폴더</td>
            <td width="65%">          
              <span *ngIf="showingFolderName0!==undefined && showingFolderName0.length!=0">
                <span *ngIf="rootFolderData!=null && rootFolderData.userData.errorMessage!=null"
                  class="badge badge-danger badge-pill">
                  {{rootFolderData.userData.errorMessage}}
                </span>
                {{showingFolderName0}}
              </span>
              <span *ngIf="showingFolderName0.length==0">백업할 폴더를 선택하세요</span>
            <td width="20%">
              <button type="button" class="btn btn-default btn-sm" (click)="onChangeFolder(0)" style="background: #d8d8d8;">폴더선택
              </button>
              <button type="button" class="btn btn-default btn-sm" (click)="onNullifyFolder(0)" style="margin-left:5px;background: #d8d8d8;">리셋
              </button>
            </td>
          </tr>
          <tr>
            <td>인증서</td>
            <td>
              <span *ngIf="showingFolderName1!==undefined && showingFolderName1.length!=0">
                <span *ngIf="rootFolderData!=null && rootFolderData.userData.errorMessage!=null"
                  class="badge badge-danger badge-pill">
                  {{rootFolderData.userData.errorMessage}}
                </span>
                {{showingFolderName1}}
              </span>
              <span *ngIf="showingFolderName1.length==0">백업할 폴더를 선택하세요</span>
            </td>
            <td>
              <button type="button" class="btn btn-default btn-sm" (click)="onChangeFolder(1)" style="background: #d8d8d8;">폴더선택
              </button>
              <button type="button" class="btn btn-default btn-sm" (click)="onNullifyFolder(1)" style="margin-left:5px;background: #d8d8d8;">리셋
              </button>
            </td>
          </tr>
          <tr>
            <td>개인폴더</td>
            <td>
              <span *ngIf="showingFolderName2!==undefined && showingFolderName2.length!=0">
                <span *ngIf="rootFolderData!=null && rootFolderData.userData.errorMessage!=null"
                  class="badge badge-danger badge-pill">
                  {{rootFolderData.userData.errorMessage}}
                </span>
                {{showingFolderName2}}
              </span>
              <span *ngIf="showingFolderName2.length==0">백업할 폴더를 선택하세요</span>
            </td>
            <td>
              <button type="button" class="btn btn-default btn-sm" (click)="onChangeFolder(2)" style="background: #d8d8d8;">폴더선택
              </button>
              <button type="button" class="btn btn-default btn-sm" (click)="onNullifyFolder(2)" style="margin-left:5px;background: #d8d8d8;">리셋
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-sm pull-right  text-right">
        <button type="submit" (click)="onLogout()" style="background: transparent;border: transparent;">
          <img src="assets/images/exit.png" style="background: transparent;width: 70%;border: transparent;">
        </button>
      </div>
    </div>

    <tabset style="display: none;">
      <tab (selectTab)="onTab(0)" *ngIf="!memberPrivate">
        <ng-template tabHeading>
          폴더1
          <span class="badge badge-info badge-pill" style="font-size:10px" *ngIf="foldersSize[0] != undefined">
            {{foldersSize[0] | bytes}}
          </span>
        </ng-template>
      </tab>

      <tab (selectTab)="onTab(1)" *ngIf="!memberPrivate">
        <ng-template tabHeading>
          폴더2
          <span class="badge badge-info badge-pill" style="font-size:10px" *ngIf="foldersSize[1] != undefined">
            {{foldersSize[1] | bytes}}
          </span>
        </ng-template>
      </tab>
      <tab (selectTab)="onTab(2)" *ngIf="!memberPrivate">
        <ng-template tabHeading>
          폴더3
          <span class="badge badge-info badge-pill" style="font-size:10px" *ngIf="foldersSize[2] != undefined">
            {{foldersSize[2] | bytes}}
          </span>
        </ng-template>
      </tab>
      <tab (selectTab)="onTab(0)" *ngIf="memberPrivate">
        <ng-template tabHeading>
          개인폴더1
          <span class="badge badge-info badge-pill" style="font-size:10px" *ngIf="foldersSize[0] != undefined">
            {{foldersSize[0] | bytes}}
          </span>
        </ng-template>
      </tab>
      <tab (selectTab)="onTab(1)" *ngIf="memberPrivate">
        <ng-template tabHeading>
          개인폴더2
          <span class="badge badge-info badge-pill" style="font-size:10px" *ngIf="foldersSize[1] != undefined">
            {{foldersSize[1] | bytes}}
          </span>
        </ng-template>
      </tab>
      <tab (selectTab)="onTab(2)" *ngIf="memberPrivate">
        <ng-template tabHeading>
          개인폴더3
          <span class="badge badge-info badge-pill" style="font-size:10px" *ngIf="foldersSize[2] != undefined">
            {{foldersSize[2] | bytes}}
          </span>
        </ng-template>
      </tab>
    </tabset>


    <div class="container mt-2" style="display:none;margin-bottom:50px">
      <div class="alert alert-dark  d-flex justify-content-between align-items-center" role="alert"
        style="height:50px;font-size:12px;">
        <div>
          <span *ngIf="showingFolderName!==undefined && showingFolderName.length!=0">
            <span *ngIf="rootFolderData!=null && rootFolderData.userData.errorMessage!=null"
              class="badge badge-danger badge-pill">
              {{rootFolderData.userData.errorMessage}}
            </span>
            {{showingFolderName}}
          </span>
          <span *ngIf="showingFolderName.length==0">백업할 폴더를 선택하세요</span>
        </div>
        <div class="float-right">
          <button type="button" class="btn btn-secondary btn-sm" (click)="onChangeFolder(0)"
            *ngIf="selectedFolderIndex==0">폴더선택
          </button>
          <button type="button" class="btn btn-light btn-sm" (click)="onNullifyFolder(0)"
            *ngIf="selectedFolderIndex==0">Reset
          </button>
          <button type="button" class="btn btn-secondary btn-sm" (click)="onChangeFolder(1)"
            *ngIf="selectedFolderIndex==1">폴더선택
          </button>
          <button type="button" class="btn btn-light btn-sm" (click)="onNullifyFolder(1)"
            *ngIf="selectedFolderIndex==1">Reset
          </button>
          <button type="button" class="btn btn-secondary btn-sm" (click)="onChangeFolder(2)"
            *ngIf="selectedFolderIndex==2">폴더선택
          </button>
          <button type="button" class="btn btn-light btn-sm" (click)="onNullifyFolder(2)"
            *ngIf="selectedFolderIndex==2">Reset
          </button>
        </div>

      </div>


      <ul class="list-group" *ngIf="showingFolderName!=null">
        <!--<li class="list-group-item d-flex justify-content-between align-items-center kk-folder-item"-->
        <!--(click)="onRequestFolderPosts(selectedFolderIndex, parentFolder)"-->
        <!--*ngIf="rootFolderName.length<showingFolderName.length">-->
        <!--<div><img src="assets/images/back-icon.png"/>&nbsp;뒤로</div>-->
        <!--</li>-->
        <li class="list-group-item d-flex justify-content-between align-items-center kk-folder-item"
          (click)="onRequestFolderPosts(selectedFolderIndex, folder.code, folder.files)"
          *ngFor="let folder of showingFolderList">
          <div>
            <img src="assets/images/folder-icon.png" /> &nbsp; {{folder.title}}
          </div>
          <div>
            {{folder.userData.updated | date :  'yyyy/MM/dd HH:mm:ss'}}
            <span class="badge badge-info badge-pill">{{folder.userData.totalSize | bytes}}</span>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center kk-file-item"
          *ngFor="let file of showingFileList">
          <div>{{file.title}}</div>
          <div>{{file.userData.updated | date:'yyyy/MM/dd HH:mm:ss'}}
            <span class="badge badge-light badge-pill">{{file.userData.totalSize | bytes}}</span>
          </div>

        </li>
      </ul>

    </div>
  </div>

</div>


<app-log></app-log>